.residents-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1480px;
    margin-left: auto;
    margin-right: auto;
    background-image: url('/images/espacio2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}